/*
 * Felipe Genuino
 * http://felipegenuino.com
 * 
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


/* cores 
	cinza claro		= #E3E4E5
	cinza médio 	= #A8ACAD
	cinza escuro 	= #4D4E4F
	curso azul		= #457FAF
	curso amarelo 	= #F4CD0B
	
 */
 
 
html,
button,
input,
select,
textarea {
    color: #222;
}

body { 
  color: #222222;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  position: relative; 
  
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Titillium Web', Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
 /*
 * Bold 700
 * Bold 700 Italic
 * Light 200
 * Light 200 Italic
 * Book 300 Italic
 * Book 300
 * Normal 400
 * Normal 400 Italic
 */
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/* ==========================================================================
   Responsive
   ========================================================================== */	
	img{max-width:100%;		height:auto; }
	
	.youtube {
		position: relative;
		padding-bottom:56.25%;
		height:0;
		overflow: hidden;
		}
		
	.youtube iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	
/* fitvids.js, FitText */
	
	
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.help-top{}
body{background:#eee}
header{   background: url("../img/base/malha.png") repeat scroll 0 0 #91bece;}
footer{}
footer h2 { font-size: 2em; font-weight: 200; color:#fff }

.corpo{  min-height: 100%;}


#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

footer {
background:#2D3538;
position: relative;
	  
	height: 180px;
	clear:both;} 
	
	
	
/* Default header styles */
h1, h2, h3, h4, h5, h6 {
font-family: 'Titillium Web', Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0; }

h1 {  font-size: 2.125em; 	font-weight: 400;   }


h2 { font-size: 2em; font-weight: 200;  }

h3 {
  font-size: 1.375em;  font-weight: 700;}

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

hr {
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c; }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
	.help-top{background:red}
}


/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/*  small tablet  */
@media only screen and (min-width: 240px) {	.help-top {background:red}}


/*  iphone  */
@media only screen and (min-width: 320px) {	.help-top{background:blue}}


/*  small tablet  */
@media only screen and (min-width: 480px) {	.help-top{background:yellow}}


/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {	.help-top{background:gray}}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {	.help-top{background:green}}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {	.help-top{background:yellow}}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}





@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
